@font-face {
    font-family: 'FontAwesome4';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/fontawesome-webfont.eot');
    src: url('../fonts/fontawesome-webfont.eot') format('embedded-opentype'),
    url('../fonts/fontawesome-webfont.woff2') format('woff2'),
    url('../fonts/fontawesome-webfont.woff') format('woff'),
    url('../fonts/fontawesome-webfont.ttf') format('truetype'),
    url('../images/fontawesome-webfont.svg') format('svg');
}

@font-face {
    font-family: 'FontAwesome5';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/fa-brands-400.eot');
    src: url('../fonts/fa-brands-400.eot') format('embedded-opentype'),
    url('../fonts/fa-brands-400_1.woff2') format('woff2'),
    url('../fonts/fa-brands-400.woff') format('woff'),
    url('../fonts/fa-brands-400_1.ttf') format('truetype'),
    url('../images/fa-brands-400.svg') format('svg');
}

@font-face {
    font-family: 'FontAwesomeViber';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/fa-viber.eot');
    src: url('../fonts/fa-viber_1.eot#iefix-3dwksg') format('embedded-opentype'),
    url('../fonts/fa-viber.ttf') format('truetype'),
    url('../fonts/fa-viber.woff') format('woff'),
    url('../images/fa-viber.svg#fa-viber') format('svg');
}

.fa-viber:before {
    font: normal normal normal 1em/1 FontAwesomeViber;
    content: '\e666';
}

.fab.fa-tripadvisor,
.fa.fa-tripadvisor,
.fa.fa-meanpath {
    font: normal normal normal 1em/1 FontAwesome4;
}

.fab.fa-acquisitions-incorporated,
.fab.fa-penny-arcade,
.fab.fa-adobe {
    font: normal normal normal 1em/1 FontAwesome5;
}

.fab.fa-tripadvisor:before,
.fa.fa-tripadvisor:before {
    content: '\f262'
}

.fab.fa-acquisitions-incorporated:before {
    content: '\f6af';
}

.fab.fa-penny-arcade:before {
    content: '\f704';
}

.fa.fa-meanpath:before {
    content: '\f20c';
}

.fab.fa-adobe:before {
    content: '\f778';
}